{% schema %}
{
  "name": "404 page (Vasora)",
  "blocks": [
    {"type":"link","name":"Popular link 1"},
    {"type":"link","name":"Popular link 2"},
    {"type":"link","name":"Popular link 3"},
    {"type":"link","name":"Popular link 4"}
  ],
  "presets": [{"name":"404"}]
}
{% endschema %}
<div class="page-404 vasora">
  <h1>Page not found</h1>
  <p>Sorry, we couldn't find that page.</p>
  <a href="/">Go to Home</a>
  <form action="/search" method="get">
    <label for="q_404">Search</label>
    <input id="q_404" name="q" type="search" />
    <button type="submit">Search</button>
  </form>
  <div class="popular-links">
    {% for block in section.blocks %}
      {% if block.type == 'link' and block.settings.link != blank %}
        <a href="{{ block.settings.link }}">{{ block.settings.text }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
