{% schema %}
{
  "name": "Main product",
  "settings": [],
  "blocks": [
    {"type":"title","name":"Title"},
    {"type":"price","name":"Price"},
    {"type":"buy_button","name":"Buy button"}
  ],
  "presets": [
    {"name":"Default"}
  ]
}
{% endschema %}
<div class="v-container">
  <div class="product-main vasora v-card">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'title' %}
          <h1 class="v-h1">{{ product.title }}</h1>
        {% when 'price' %}
          <div class="price">{{ product.price | money }}</div>
        {% when 'buy_button' %}
          <button class="v-button v-button--primary" data-action="add-to-cart" data-product-id="{{ product.id }}">Add to cart</button>
      {% endcase %}
    {% endfor %}
  </div>
</div>
